body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}
.AppV2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.AppV2__main {
    display: flex;
    flex-grow: 1;
}
.AppV2__mainContent {
    margin: 0 1rem;
    flex-grow: 1;
}
.AppV2__header {
    background-color:cornflowerblue;
    color: #fff;
}
.AppV2__footer {
    background-color:cornflowerblue;
    color: #fff;
}

/* HEADER */
.Header {
    display: flex;
    padding: 1rem;
}
.Header__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Header__navLinks {
    margin: 1rem;
}

/* FOOTER */
.Footer {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}
.Footer__nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Footer__navLinks {
    margin: 1rem;
}

/* SIDEBAR */
.Sidebar__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Sidebar__navLinks {
    margin: 1rem;
}

/* ASIDE */
.Aside__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Aside__listItem {
    margin: 1rem;
}